div {
    float: left;
}
.Rectangle1 {
    width: 82%;
    height: 30px;
    background-color: rgb(90, 175, 90);
}
.Rectangle2 {
    width: 18%;
    height: 30px;
    background-color: rgb(64, 136, 194);
}
.Rectangle3 {
    width: 30%;
    height: 100px;
    background-color: rgb(226, 72, 72);
}
.Rectangle4 {
    width: 35%;
    height: 50px;
    background-color: rgb(255, 123, 0);
}
.Rectangle5 {
    width: 35%;
    height: 50px;
    background-color: rgb(184, 179, 179);
}
.Rectangle6 {
    width: 23.3%;
    height: 50px;
    background-color: orange;
}
.Rectangle7{
    width: 23.3%;
    height: 50px;
    background-color: rgb(40, 143, 100);
}
.Rectangle8 {
    width: 23.4%;
    height: 50px;
    background-color: orangered;   
}
.Rectangle9 {
    width: 100%;
    height: 200px;
    background-color: rgb(37, 37, 53);
 }